In [ ]:
a = 5   # a라는 바구니에 값 5를 넣는다.
a       # a 안에 있는 값을 확인한다.

5

In [4]:
b = 3   # b라는 바구니에 값 3을 넣는다.
b       # b 안에 있는 값을 확인한다.

3

In [5]:
a + b   # a 바구니에 있는 값과 b 바구니에 있는 값을 더한다.

8

In [6]:
c = '가나다'
c

'가나다'

In [7]:
radio_freq = 107.9
radio_freq

107.9

In [ ]:
# 잘못된 변수명: 숫자로 시작
2var = "행복"   # SyntaxError: invalid decimal literal 발생

SyntaxError: invalid decimal literal (2611584363.py, line 2)

In [10]:
# 잘못된 변수명: 공백 포함
happy var= "행복"       # SyntexError: invalid syntax 에러 발생

SyntaxError: invalid syntax (1055411160.py, line 2)

In [ ]:
# 잘못된 변수명: 특수문자 포함
happyvar! = "행복"      # SyntaxError: invalid syntax 발생

SyntaxError: invalid syntax (4116111559.py, line 2)

In [13]:
def = "행복"        # SyntaxError: invalid syntax 발생.(예약어 사용 금지)

SyntaxError: invalid syntax (3088606691.py, line 1)

In [15]:
# 대소문자 구분하기

abc = 5
ABC = "Apple"
print(abc, ABC)

5 Apple

In [18]:
# 다중 변수 동시 선언
x, y, z = "Apple", "Banana", "Carrot"
print(x, y, z)

# 밑줄(_)로 변수명을 지정하는 경우는 사용하지 않을 변수를 위한 자리 표시 용도로 활용.
_, var = "Not use", "Use"
print(_, var)

Apple Banana Carrot
Not use Use

In [19]:
# 단일 값의 다중 변수 할당
# 단일 값의 다중 변수는 쉼표가 아닌 등호로 연결하기.
x = y = z = "Dog"
print(x, y, z)

Dog Dog Dog