In [34]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime as dt

pd.set_option("display.expand_frame_repr", False)

df = yf.download("NVDA", period="1y", interval="1d", multi_level_index=False)
df.head()

[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open     Volume
Date
2025-01-13  133.193573  133.453512  129.474589  129.954469  204808900
2025-01-14  131.723969  136.342716  130.014445  136.012804  195590500
2025-01-15  136.202759  136.412693  131.254100  133.613455  185217300
2025-01-16  133.533478  138.712054  133.453498  138.602083  209235600
2025-01-17  137.672348  138.462125  135.422963  136.652623  201188800

In [35]:
# 문제 01. shape를 사용해 DataFrame의 기본 정보 확인하기.
print(f"=== shape로 행과 컬럼의 개수 출력하기 ===\n{df.shape}")

=== shape로 행과 컬럼의 개수 출력하기 ===
(251, 5)

In [36]:
# 문제 02. info를 사용해 DataFrame의 기본 정보 확인하기.
df.info()

# print(df.info())를 입력하면 .info()의 기본 반환값인 None도 같이 출력됨.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2025-01-13 to 2026-01-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   251 non-null    float64
 1   High    251 non-null    float64
 2   Low     251 non-null    float64
 3   Open    251 non-null    float64
 4   Volume  251 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB

In [37]:
# 문제 03. describe를 활용해 DataFrame의 기본 정보 확인하기.
df.describe()

# describe() method를 사용해 컬럼별 'count', 'mean', 'std', '25%', '50%', '75%', max 값에 대한 정보 확인 가능.

            Close        High         Low        Open        Volume
count  251.000000  251.000000  251.000000  251.000000  2.510000e+02
mean   155.102950  157.422285  152.483070  155.125226  2.183731e+08
std     30.127631   30.209860   30.330015   30.437045  9.424645e+07
min     94.292885   99.421958   86.604280   87.444124  6.552850e+07
25%    129.855446  131.700019  125.070781  129.949463  1.576132e+08
50%    167.001297  169.011066  164.051630  167.531228  1.930635e+08
75%    181.399902  183.459785  179.089982  181.619942  2.473862e+08
max    207.028473  212.178195  205.548551  208.068415  8.188309e+08

In [38]:
# 문제 04. DF의 컬럼명 및 데이터 타입 확인하기.
df.dtypes

# Close 컬럼: float 64bit
# High 컬럼: float 64bit
# Low 컬럼: float 64bit
# Open 컬럼: float 64bit
# Volume 컬럼: int 64bit

Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
dtype: object

In [39]:
# 문제 05. DataFrame의 첫 5개 행과 마지막 5개 행 확인하기.
print(df.head())

print(f"\n{df.tail()}")

# head()와 tail()의 인자값을 입력하지 않으면, 기본값이 5라서 5행이 출력됨.

                 Close        High         Low        Open     Volume
Date
2025-01-13  133.193573  133.453512  129.474589  129.954469  204808900
2025-01-14  131.723969  136.342716  130.014445  136.012804  195590500
2025-01-15  136.202759  136.412693  131.254100  133.613455  185217300
2025-01-16  133.533478  138.712054  133.453498  138.602083  209235600
2025-01-17  137.672348  138.462125  135.422963  136.652623  201188800

                 Close        High         Low        Open     Volume
Date
2026-01-06  187.240005  192.169998  186.820007  190.520004  176862600
2026-01-07  189.110001  191.369995  186.559998  188.570007  153543200
2026-01-08  185.039993  189.550003  183.710007  189.110001  172457000
2026-01-09  184.860001  186.339996  183.669998  185.080002  131327500
2026-01-12  184.940002  187.119995  183.020004  183.220001  137624700

In [40]:
# 문제 06. 종가(Close) 기준의 최댓값, 최솟값, 평균을 각각 구하기.
max_close = df['Close'].max()
min_close = df['Close'].min()
mean_close = df['Close'].mean()

print(f"Close 컬럼의 최댓값: {max_close}")
print(f"\nClose 컬럼의 최솟값: {min_close}")
print(f"\nClose 컬럼의 평균: {mean_close}")

Close 컬럼의 최댓값: 207.02847290039062

Close 컬럼의 최솟값: 94.29288482666016

Close 컬럼의 평균: 155.1029504722808

In [41]:
# 문제 07. 거래량(Volume) 컬럼의 평균, 중앙값, 표준편차를 각각 구하기.
mean_vol = df['Volume'].mean()
std_vol = df['Volume'].std()
med_vol = df['Volume'].median()

print(f"Volume 컬럼의 평균: {mean_vol}")
print(f"\nVolume 컬럼의 표준편차: {std_vol}")
print(f"\nVolume 컬럼의 중앙값: {med_vol}")

Volume 컬럼의 평균: 218373076.89243028

Volume 컬럼의 표준편차: 94246445.39699152

Volume 컬럼의 중앙값: 193063500.0

In [42]:
# 문제 07. 고가(High)와 저가(Low)의 평균의 차이 구하기.
mean_diff = df['High'].mean() - df['Low'].mean()

print(f"High 컬럼과 Low 컬럼의 평균의 차이: {mean_diff}")

High 컬럼과 Low 컬럼의 평균의 차이: 4.939215256821825

In [43]:
# 문제 08. 'Date', 'Close', 'Volume' 컬럼만 선택한 새로운 데이터프레임 생성하기.
df_copy = pd.DataFrame.copy(df)
# df_copy.describe()
df_copy = df.drop(['High', 'Low', 'Open'], axis=1)

print(df_copy)

                 Close     Volume
Date
2025-01-13  133.193573  204808900
2025-01-14  131.723969  195590500
2025-01-15  136.202759  185217300
2025-01-16  133.533478  209235600
2025-01-17  137.672348  201188800
...                ...        ...
2026-01-06  187.240005  176862600
2026-01-07  189.110001  153543200
2026-01-08  185.039993  172457000
2026-01-09  184.860001  131327500
2026-01-12  184.940002  137624700

[251 rows x 2 columns]

In [44]:
# 문제 09. 최근 10개 데이터만 선택하기.
last_10 = df.tail(10)

print(last_10)

                 Close        High         Low        Open     Volume
Date
2025-12-29  188.220001  188.759995  185.910004  187.710007  120006100
2025-12-30  187.539993  188.990005  186.929993  188.240005   97687300
2025-12-31  186.500000  190.559998  186.490005  189.570007  120100500
2026-01-02  188.850006  192.929993  188.259995  189.839996  148240500
2026-01-05  188.119995  193.630005  186.149994  191.759995  183529700
2026-01-06  187.240005  192.169998  186.820007  190.520004  176862600
2026-01-07  189.110001  191.369995  186.559998  188.570007  153543200
2026-01-08  185.039993  189.550003  183.710007  189.110001  172457000
2026-01-09  184.860001  186.339996  183.669998  185.080002  131327500
2026-01-12  184.940002  187.119995  183.020004  183.220001  137624700

In [45]:
# 문제 10. 종가가 백분위수 90% 이상인 날짜가 몇 일인지 출력하기.
quan_90 = df['Close'].quantile(0.9)
dt_quan90 = df['Close'][df['Close'] > quan_90]

print(f"'Close 컬럼의 백분위수 90% 값: {quan_90}")
print(f"\n'Close' 컬럼의 값이 백분위수 90% 이상인 날짜들: \n{dt_quan90}")

'Close 컬럼의 백분위수 90% 값: 187.6095428466797

'Close' 컬럼의 값이 백분위수 90% 이상인 날짜들:
Date
2025-10-02    188.879486
2025-10-08    189.099472
2025-10-09    192.559280
2025-10-13    188.309525
2025-10-27    191.479340
2025-10-28    201.018814
2025-10-29    207.028473
2025-10-30    202.878708
2025-10-31    202.478729
2025-11-03    206.868484
2025-11-04    198.678940
2025-11-05    195.199142
2025-11-06    188.069534
2025-11-07    188.139526
2025-11-10    199.038925
2025-11-11    193.149246
2025-11-12    193.789215
2025-11-14    190.159409
2025-12-23    189.210007
2025-12-24    188.610001
2025-12-26    190.529999
2025-12-29    188.220001
2026-01-02    188.850006
2026-01-05    188.119995
2026-01-07    189.110001
Name: Close, dtype: float64

In [46]:
# 문제 11. 거래량이 평균 거래량보다 많았던 날의 데이터 선택하기.
avg_volume = df['Volume'].mean()
more_avg_volume = df['Volume'][df['Volume'] > avg_volume]


print(f"평균 거래량: {avg_volume}")
print(f"\n거래량이 평균보다 많았던 날짜와 그 값들: \n{more_avg_volume}")

평균 거래량: 218373076.89243028

거래량이 평균보다 많았던 날짜와 그 값들:
Date
2025-01-22    237651400
2025-01-24    234657600
2025-01-27    818830900
2025-01-28    579666400
2025-01-29    467120600
                ...
2025-11-21    346926200
2025-11-24    256618300
2025-11-25    320600300
2025-12-17    222775500
2025-12-19    324925900
Name: Volume, Length: 96, dtype: int64

In [47]:
# 문제 12. 거래량(Volume) 기준으로 DF를 내림차순 정렬하기.
df_dsc = df.sort_values('Volume', ascending=False)

print(df_dsc)

                 Close        High         Low        Open     Volume
Date
2025-01-27  118.387619  128.364886  116.668088  124.765879  818830900
2025-04-09  114.309258  115.079114   97.512303   98.872057  612918300
2025-04-07   97.622276  101.731531   86.604280   87.444124  611041300
2025-01-28  128.954727  128.964719  116.218206  121.776683  579666400
2025-04-04   94.292885  100.111828   92.093287   98.892056  532273800
...                ...         ...         ...         ...        ...
2025-12-31  186.500000  190.559998  186.490005  189.570007  120100500
2025-12-29  188.220001  188.759995  185.910004  187.710007  120006100
2025-10-23  182.149857  183.019803  179.779978  180.409948  111363700
2025-12-30  187.539993  188.990005  186.929993  188.240005   97687300
2025-12-24  188.610001  188.910004  186.589996  187.940002   65528500

[251 rows x 5 columns]

In [48]:
# 문제 13. 'Daily_Change' 컬럼을 생성하고, 종가와 시가의 차이를 계산한 값을 적용하기.
df['Daily_Change'] = df['Close'] - df['Open']

print(df)

                 Close        High         Low        Open     Volume  Daily_Change
Date
2025-01-13  133.193573  133.453512  129.474589  129.954469  204808900      3.239104
2025-01-14  131.723969  136.342716  130.014445  136.012804  195590500     -4.288836
2025-01-15  136.202759  136.412693  131.254100  133.613455  185217300      2.589304
2025-01-16  133.533478  138.712054  133.453498  138.602083  209235600     -5.068605
2025-01-17  137.672348  138.462125  135.422963  136.652623  201188800      1.019725
...                ...         ...         ...         ...        ...           ...
2026-01-06  187.240005  192.169998  186.820007  190.520004  176862600     -3.279999
2026-01-07  189.110001  191.369995  186.559998  188.570007  153543200      0.539993
2026-01-08  185.039993  189.550003  183.710007  189.110001  172457000     -4.070007
2026-01-09  184.860001  186.339996  183.669998  185.080002  131327500     -0.220001
2026-01-12  184.940002  187.119995  183.020004  183.220001  137624700      1.720001

[251 rows x 6 columns]

In [49]:
# 문제 14. 'Change_Rate' 컬럼을 생성하고, 일일 변동률((종가 - 시가) / 시가 * 100)을 계산하기.
df['Change_Rate'] = ((df['Close'] - df['Open']) / df['Open']) * 100

df

                 Close        High         Low        Open     Volume  Daily_Change  Change_Rate
Date
2025-01-13  133.193573  133.453512  129.474589  129.954469  204808900      3.239104     2.492492
2025-01-14  131.723969  136.342716  130.014445  136.012804  195590500     -4.288836    -3.153259
2025-01-15  136.202759  136.412693  131.254100  133.613455  185217300      2.589304     1.937906
2025-01-16  133.533478  138.712054  133.453498  138.602083  209235600     -5.068605    -3.656948
2025-01-17  137.672348  138.462125  135.422963  136.652623  201188800      1.019725     0.746217
...                ...         ...         ...         ...        ...           ...          ...
2026-01-06  187.240005  192.169998  186.820007  190.520004  176862600     -3.279999    -1.721603
2026-01-07  189.110001  191.369995  186.559998  188.570007  153543200      0.539993     0.286362
2026-01-08  185.039993  189.550003  183.710007  189.110001  172457000     -4.070007    -2.152190
2026-01-09  184.860001  186.339996  183.669998  185.080002  131327500     -0.220001    -0.118868
2026-01-12  184.940002  187.119995  183.020004  183.220001  137624700      1.720001     0.938763

[251 rows x 7 columns]

In [55]:
# 문제 15. 날짜에서 '연도', '월', '요일'을 추출해 각각 'Year', 'Month', 'Weekday'의 새 컬럼으로 생성하기.
# df['Year'] = df['']
# df['Month'] = 
# df['Weekday'] = 
df_cp = df.copy()
df_cp.reset_index(inplace=True)

df_cp['Year'] = df_cp['Date'].dt.year
df_cp['Month'] = df_cp['Date'].dt.month
df_cp['Weekday'] = df_cp['Date'].dt.weekday

df_cp
# print(df_cp)

          Date       Close        High         Low        Open     Volume  Daily_Change  Change_Rate  Year  Month  Weekday
0   2025-01-13  133.193573  133.453512  129.474589  129.954469  204808900      3.239104     2.492492  2025      1        0
1   2025-01-14  131.723969  136.342716  130.014445  136.012804  195590500     -4.288836    -3.153259  2025      1        1
2   2025-01-15  136.202759  136.412693  131.254100  133.613455  185217300      2.589304     1.937906  2025      1        2
3   2025-01-16  133.533478  138.712054  133.453498  138.602083  209235600     -5.068605    -3.656948  2025      1        3
4   2025-01-17  137.672348  138.462125  135.422963  136.652623  201188800      1.019725     0.746217  2025      1        4
..         ...         ...         ...         ...         ...        ...           ...          ...   ...    ...      ...
246 2026-01-06  187.240005  192.169998  186.820007  190.520004  176862600     -3.279999    -1.721603  2026      1        1
247 2026-01-07  189.110001  191.369995  186.559998  188.570007  153543200      0.539993     0.286362  2026      1        2
248 2026-01-08  185.039993  189.550003  183.710007  189.110001  172457000     -4.070007    -2.152190  2026      1        3
249 2026-01-09  184.860001  186.339996  183.669998  185.080002  131327500     -0.220001    -0.118868  2026      1        4
250 2026-01-12  184.940002  187.119995  183.020004  183.220001  137624700      1.720001     0.938763  2026      1        0

[251 rows x 11 columns]

In [ ]:
# 문제 16. 월별로 그룹화하여 평균 종가와 총 거래량을 계산하세요.
mean_close = df_cp.groupby('Month').mean(df_cp['Close'])
total_close = df_cp.groupby('Month').sum()

print(f"월별 평균 종가: {mean_close}")
print(f"\n월별 총 거래량")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [59]:
# 문제 17. 연도별로 그룹화하여 최고가와 최저가를 구하기.
highest_price = df_cp.groupby('Year')
lowest_price = df_cp.groupby('Year')

In [60]:
# 문제 18. 연속해서 상승한 날이 가장 많았던 기간과 일수를 찾기.
# 종가 - 시가 > 0인 날을 우선 조건으로 삼기.
# 조건이 True인 것들을 컬럼에 표출되게 하고, 일일이 확인해서 기간 및 일수를 찾는 것도 하나의 방법일 듯.
# 만약 반복문을 쓴다면, True를 마주치는 경우 +1씩 하다가, False를 마주치면 종료. +1을 하는 변수가 이전 연속 기간보다 클 경우, 그 값으로 초기화. 만약 아니면, 기존 변수의 값 유지.

In [62]:
# 문제 18 교재의 답